@font-face { font-family: Playfair; src: url('../font/Playfair.ttf'); font-display: swap; } 

li, a, button {
    font-family: Playfair;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.user_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60em;

    .user{
        position: relative;
        left: 30%;
        top: 8em;
        width: 40%;
        height: 85%;
        background-color: rgb(219, 193, 170);
        border-radius: 1em;

        .bx{
            position: relative;
            left: 35%;
            top: 8%;
            background-color: white;
            padding: 0.1em;
            border-radius: 1em;

            font-size: 12em;
        }

        .user_mail{
            position: relative;
            left: 10%;
            top: 10%;
            width: 83%;
            padding: 1em;
            background-color: #95b4cf;
            border-radius: 1em;

            h1{
                color: black;
            }

            p{
                padding: 1em;
                border-radius: 1em;
                background-color: #ffff;
            }
        }

        .user_pass{
            position: relative;
            left: 10%;
            top: 15%;
            width: 83%;
            padding: 1em;
            background-color: #95b4cf;
            border-radius: 1em;

            p{
                padding: 1em;
                border-radius: 1em;
                background-color: #ffff;
            }
        }

        .logout{
            position: relative;
            top: 20%;
            left: 10%;
            width: 83%;

            font-size: 20px;
            background-color: #9597cf;

            padding: 1.2em;
            border-radius: 1em;
        }
    }

    .wishlist{
        position: relative;
        top: 8em;
        left: 15%;

        width: 40%;
        height: 35%;
        background-color: rgb(219, 193, 170);
        border-radius: 1em;
        

        h1{
            position: relative;
            left: 40%;
        }
    }
}

.form{
    position: relative;
    width: 100%;
    height: 30em;
    a{
        color: black;
    }
}

@media only screen and (max-width: 900px) {
    .user_container{
        .user{
            .bx{
                font-size: 8em;
                left: 25%;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .user_container{
        .user{
            height: 70%;
            top: 10em;
            left: 15%;
            width: 75%;

            .bx{
                font-size: 8em;
                left: 25%;
            }
        }
    }
}