/*#region Buttons*/
.cta {
    margin-left: 20px;
    border-radius: 50px;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
    }
.cta:hover {
    background-color: rgba(173, 216, 230, 1);
    padding: 10px;
    border-radius: 15px;
}
/*#endregion */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1;
  
    padding: 30px 10%;
}
    
.logo {
    cursor: pointer;
    font-size: 35px;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}
.logo:hover{
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(173, 216, 230, 1);
}
.nav__links {
    list-style: none; 
}
    
.nav__links li {
    display: inline-block;
    margin-right: auto;
    padding: 5px 30px;
}
    
.nav__links li a {
    transition: all 0.3s ease 0s;
}
    
.nav__links li a:hover {
    background-color: rgba(173, 216, 230, 1);
    padding: 10px;
    border-radius: 15px;
}

/*#region Footer*/

footer{
    background-color: #111;
    position: relative;
    bottom: -20rem;
}
.footerContainer{
    width: 100%;
    background-color: #111;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
    background-color: #111;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
    transition: 0.5s;
}
.socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 1;
    transition: 0.5s;
}
.socialIcons a:hover{
    background-color: white;
}
.socialIcons a:hover i{
    color: black;
}

.footerNav{
    background-color: #111;
    margin: 30px 0;
}
.footerNav ul{
    background-color: #111;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    background-color: #111;
    transition: 0.3s;
}
.footerNav ul li {
    background-color: #111;
}
.footerNav ul li a:hover{
    text-decoration: underline;
    font-size: 1.5em;
}
.footerBottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    background-color: #111;
    color: white;
}
.designer{
    background-color: #111;
    opacity: 0.7;
    text-transform: uppercase;
    color: yellow;
    font-weight: 400;
    margin: 0px 5px;
  
    cursor: pointer;
}
  
/*#endregion */

/*#region Media Query*/

@media (min-width: 1001px) {
    li.dropdown {
      display: none;
    }
  }
@media (max-width: 1000px) {
    li.index, li.about-eg, li.prices, li.route, .cta {
      display: none;
    }
    li.dropdown {
      display: inline-block;
      position: fixed;
    }
    .drop__button {
      width: 40px;
    }
    .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    }
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    .dropdown-content a:hover {background-color: #f1f1f1;}
    .dropdown:hover .dropdown-content {
      position: fixed;
      display: block;
    }
}
@media (max-width: 720px) {
  
    .dropdown-content {
      display: none;
      position: fixed;
      right: 0em;
      top: 0em;
      background-color: #f9f9f9;
      outline: 1px solid red;
      min-width: 100%;
      min-height: 50em;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 999;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 10px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
}
    
@media (max-width: 600px) {
    .background{
      width: 100%;
      height: 20rem;
    }
    .logo{
      font-size: 30px;
    }
    .introduction-btn{
      top: 18em;
      left: 2em;
    }
    .footerNav ul li a{
        font-size: 0.75em;
        margin: 0.6em;
    }
    footer{
        bottom: -30rem;
    }
}
/*#endregion */