
li, a, button {
    color: #ffff;
}

button, a{
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgb(219, 193, 170);
	transition: background-color 0.3s ease-out;

    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
    padding: 30px 10%;

    nav{
        ul{
            list-style: none; 
            li {
                display: inline-block;
                margin-right: auto;
                padding: 5px 30px;

                a {
                    transition: all 0.3s ease 0s;
                }

                a:hover {
                    background-color: rgba(173, 216, 230, 1);
                    padding: 10px;
                    border-radius: 15px;
                }
            }
        }
    }
    
    .logo {
        cursor: pointer;
        font-size: 35px;
        margin-right: auto;
        transition: all 0.3s ease 0s;
    }
    .logo:hover{
        padding: 10px;
        border-radius: 20px;
        background-color: rgba(173, 216, 230, 1);
    }

    .cta {
        margin-left: 20px;
        border-radius: 50px;
        padding: 5px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: 0.3s;
        }
    .cta:hover {
        background-color: rgba(173, 216, 230, 1);
        padding: 10px;
        border-radius: 15px;
    }

    .log {
        margin-left: 20px;
        border-radius: 50px;
        padding: 5px;
        border: none;
        cursor: pointer;
        background-color: transparent;
        transition: 0.3s;
        }
    .log:hover {
        background-color: rgba(173, 216, 230, 1);
        padding: 10px;
        border-radius: 15px;
    }
}


.cookieConsent{

    .cookieContainer{
        display: flex;
    }
}
.cookieContainer{
    position: fixed;
    display: none;
    flex-wrap: wrap;
    top: 75%;
    left: 80%;

    width: 15%;
    z-index: 1;
    background-color: #CFB095;
    padding: 0.5em;
    border-radius: 10px;

    .cookieText{

        p{
            margin-bottom: 0.5em;

            a{
                color: black;
                text-decoration: underline;
            }
        }

        button{
            color: white;
            background-color: rgb(114, 38, 13);
            border-color: white;
            border-radius: 8px;
            font-size: 18px;
            transition: all 0.3s ease 0s;
        }
    }
}

footer{
    background-color: #111;
    position: relative;
    bottom: -10rem;

		.footerContainer{
			width: 100%;
			background-color: #111;
			padding: 70px 30px 20px ;

			.socialIcons{
				display: flex;
				justify-content: center;
				background-color: #111;

				a{
					text-decoration: none;
					padding:  10px;
					background-color: black;
					margin: 10px;
					border-radius: 50%;
					transition: 0.5s;

					i{
						font-size: 2em;
						color: white;
						opacity: 1;
						transition: 0.5s;
				    }
			    }
                a:hover{
					background-color: white;
				}
				a:hover i{
					color: black;
				}
		    }

		.footerNav{
			background-color: #111;
			margin: 30px 0;

			ul{
				background-color: #111;
				display: flex;
				justify-content: center;
				list-style-type: none;
				
				li{
					background-color: #111;

					a{
						color:white;
						margin: 20px;
						text-decoration: none;
						font-size: 1.3em;
						opacity: 1;
						background-color: #111;
						transition: 0.3s;
					}

					a:hover{
						text-decoration: underline;
						font-size: 1.5em;
					}
				}
			}
		}		
	}

	.footerBottom{
		background-color: #111;
		padding: 20px;
		text-align: center;

		a{
			background-color: #111;
			color: white;

			.designer{
				background-color: #111;
				opacity: 0.7;
				text-transform: uppercase;
				color: yellow;
				font-weight: 400;
				margin: 0px 5px;
			}
		}
	}
}

/*#region Animations*/
@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }  

@keyframes slide-out {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }  
/*#endregion */

/*#region Media Query*/

@media only screen and (min-width: 1001px) {
    li.dropdown {
      display: none;
    }
}

@media only screen and (max-width: 1000px) {
    li.index, li.about-eg, li.prices, li.route, .cta, .log {
      display: none;
    }
    header{
        padding: 25px;
    }

	.dropbtn:hover{
		background-color: inherit;
		padding: 0;
		border-radius: 0;
	}
    .drop__button {
        width: 40px;
    }

    .dropdown-content {
    display: none;
    position: fixed;
    background-color: rgb(219, 193, 170);
	width: 90%;
	height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    animation-duration: 1s;

    a {
        display: block;
        position: relative;
        top: 2em;

        color: black;
		font-size: 24px;
		padding: 12px 10px;
		text-decoration: none;
		text-align: center;
        }
    }

    .nav__links li a:hover {
        padding: 6px;
    }
    
    .exit_button {
		position: relative;
		left: 80%;
		top: 1em;

		background-color: transparent;
		border: none;

        .drop__close {
            width: 45px;
        }
	}

    .drop_socialIcons {
        display: flex;
        justify-content: center;
        
        position: relative;
        top: 8em;
        width: 100%;
        a {
            position: relative;
            top: 0em;
            text-decoration: none;
            padding: 5px;
            width: 10%;
            margin: 5px;

            i {
                font-size: 1em;
                color: black;
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    
    .dropdown-content a {
     	color: black;
		font-size: 24px;
		padding: 12px 10px;
		text-decoration: none;
		text-align: center;
    }
}
    
@media only screen and (max-width: 600px) {
    .dropdown-content {
        width: 90%;
    }
    .logo{
      font-size: 30px;
    }

    footer{
        bottom: -10rem;
        .footerContainer {
            .footerNav ul li a{
                font-size: 1em;
                margin: 0.3em;
            }
        }
    }
    
}

@media only screen and (max-width: 400px) {

    footer{
        bottom: -10rem;
        .footerContainer {
            .footerNav ul li {
                a{
                font-size: 1em;
                margin: 0.2em;
                }
            }
        }
    }
}



/*#endregion */