@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); } 
/*
--------------------------------------------------------------
# General
--------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*
--------------------------------------------------------------
# Buttons
--------------------------------------------------------------
*/
.cta {
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  }
.cta:hover {
  background-color: rgba(173, 216, 230, 1);
  padding: 10px;
  border-radius: 15px;
}
/*
--------------------------------------------------------------
# Text
--------------------------------------------------------------
*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1;

  padding: 30px 10%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
  
.logo {
  cursor: pointer;
  font-size: 35px;
  margin-right: auto;
  transition: all 0.3s ease 0s;
}
.logo:hover{
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: black;
}
.nav__links {
  list-style: none; 
}
  
.nav__links li {
  display: inline-block;
  margin-right: auto;
  padding: 0px 30px;
}
  
.nav__links li a {
  transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
  background-color: rgba(173, 216, 230, 1);
  padding: 10px;
  border-radius: 15px;
}

.info-container{
    position: relative;
    width: 110em;
    height: 50em;
    left: 8em;
    top: 7em;
}
.info-container img{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 4em;
}
.info-text{
    position: absolute;
    left: 55em;
    width: 55em;
    height: 50em;
}
.info-text h1{
    position: absolute;
    font-size: 80px;
    max-width: 40%;
    left: 0.2em;
    top: 1.5em;
}
.info-text p{
    position: absolute;
    font-family: Playfair;
    font-weight: 600;
    font-size: 20px;
    width: 70%;
    left: 1em;
    top: 15.5em;
}
.info-btn{
    position: absolute;
    left: 1em;
    top: 18.8em;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 200px;
}
.info-btn-t{
    position: absolute;
    left: 9em;
    top: 18.8em;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 200px;

}
/*
--------------------------------------------------------------
* FOOTER
--------------------------------------------------------------
*/
footer{
    background-color: #111;
    position: relative;
    bottom: -10rem;
}
.footerContainer{
    width: 100%;
    background-color: #111;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
    background-color: #111;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
  /*   background-color: white; */
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: white;
    opacity: 1;
}
.footerNav{
    background-color: #111;
    margin: 30px 0;
}
.footerNav ul{
    background-color: #111;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    background-color: #111;
}
.footerNav ul li {
    background-color: #111;
}
.footerNav ul li a:hover{
    text-decoration: underline;
}
.footerBottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    background-color: #111;
    color: white;
}
.designer{
    background-color: #111;
    opacity: 0.7;
    text-transform: uppercase;
    color: yellow;
    font-weight: 400;
    margin: 0px 5px;
}
/*
--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------
*/
@media (min-width: 1001px) {
li.dropdown {
    display: none;
}
}
@media (max-width: 1000px) {
li.index, li.about-eg, li.prices, li.route, .cta {
    display: none;
}
li.dropdown {
    display: inline-block;
}
.drop__button {
    width: 40px;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    position: fixed;
    display: block;
}
}
@media (max-width: 720px) {

.dropdown-content {
    display: none;
    position: fixed;
    right: 0em;
    top: 0em;
    background-color: #f9f9f9;
    outline: 1px solid red;
    min-width: 100%;
    min-height: 50em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
}
    
@media (max-width: 600px) {
.background{
    width: 100%;
    height: 20rem;
}
.logo{
    font-size: 30px;
}
.info-container{
    position: relative;
    width: 20em;
    height: 35em;
    left: 1em;
    top: 7em;
}
.info-container img{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 2em;
}
.info-text{
    position: absolute;
    left: 0em;
    top: 16em;
    width: 20em;
    height: 30em;
}
.info-text h1{
    position: absolute;
    font-size: 30px;
    max-width: 100%;
    left: 1em;
    top: 0.5em;
}
.info-text p{
    position: absolute;
    font-family: Playfair;
    font-weight: 600;
    font-size: 14px;
    width: 85%;
    left: 1.5em;
    top: 4em;
}
.info-btn{
    position: absolute;
    left: 0.7em;
    top: 22em;
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
}
.info-btn-t{
    position: absolute;
    left: 12em;
    top: 22em;
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;

}
.footerNav ul li a{
    font-size: 0.75em;
    margin: 0.6em;
}
footer{
    bottom: -30rem;
}
}