@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); } 
/*
--------------------------------------------------------------
# General
--------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*
--------------------------------------------------------------
# Buttons
--------------------------------------------------------------
*/
.cta {
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease 0s;
  }
.cta:hover {
  background-color: rgba(173, 216, 230, 1);
  padding: 10px;
  border-radius: 15px;
}
/*
--------------------------------------------------------------
# Text
--------------------------------------------------------------
*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1;

  padding: 30px 10%;
}
  
.logo {
  cursor: pointer;
  font-size: 35px;
  margin-right: auto;
  transition: all 0.3s ease 0s;
}
.logo:hover{
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}
.nav__links {
  list-style: none; 
}
  
.nav__links li {
  display: inline-block;
  margin-right: auto;
  padding: 0px 30px;
}
  
.nav__links li a {
  transition: all 0.3s ease 0s;
}
  
.nav__links li a:hover {
  background-color: rgba(173, 216, 230, 1);
  padding: 10px;
  border-radius: 15px;
}

.background {
  max-width: 100%;
  max-height: 57.8em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}
.item-content{
  position: absolute;
  top: 15em;
  left: 12em;
}
.item-content h1{
  color: white;
  font-size: 150px;
}
.item-content h2{
  color: white;
  font-size: 150px;
}
.item-content p{
  color: white;
  padding-left: 5px;
  padding-top: 30px;
  font-size: 30px;
}
.introduction-btn{
  transition: all 0.3s ease 0s;
  position: absolute;
  color: white;
  background-color: rgb(244,163,132);
  width: 300px;
  padding: 14px;
  border-color: white;
  border-radius: 25px;
  font-size: 14px;
  top: 50em;
  left: 14em;
}
.introduction-btn:hover{
  cursor: pointer;
  border-radius: 12px;
}

.container-anc{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  padding-top: 5em;
  padding-left: 5em;
}
.container-anc > img{
  height: 30em;
  width: 25%;
  box-shadow: -20px -24px rgb(255, 203, 164);
  transition: all 0.3s ease 0s;
}
.container-anc > img:hover{
  z-index: 1;
  width: 35%;
  height: 35em;
}
.anc-content{
  position: absolute;
  left: 40em;
  top: 5em;
  font-size: 20px;
}
.anc-content p{
  padding-top: 1em;
  max-width: 60%;
}
.pop-egy{
  position: absolute;
  top: 57em;
  left: 10em;
  font-size: 28px;
  font-weight: 800;
}
.container-items {
  display: grid;
  position: relative;
  width: 80%;

  /* * REMEMBER: MARGIN IS FOR HORIZONTAL! */
  margin: 0 auto;
  top: 10em;

  grid-gap: 1em 1em;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* ! Justify-items is for rows and align-items is for columns! */
  justify-items: center;
  align-items: center;
}
/* ! justify-self is for configuring singular items! */
.item {
  background-color: #f0f0f0;
  width: 20em;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.item img {
  width: 20em;
  height: 20em;
  border-radius: 8px;
}
.grid-content {
  padding: 16px;
}
.grid-content h3{
  color: #666;
  font-size: 16px;
  margin-bottom: 8px;
}
.grid-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}
.grid-content .item-btn {
  display: inline-block;
  padding: 4px 8px;
  background-color: #333;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.grid-content .item-btn:hover{
  background-color: rgb(7, 127, 167);
  cursor: pointer;
}
/*
--------------------------------------------------------------
* FOOTER
--------------------------------------------------------------
*/
footer{
  background-color: #111;
  position: relative;
  bottom: -20rem;
}
.footerContainer{
  width: 100%;
  background-color: #111;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
  background-color: #111;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
/*   background-color: white; */
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: white;
  opacity: 1;
}
.footerNav{
  background-color: #111;
  margin: 30px 0;
}
.footerNav ul{
  background-color: #111;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 1;
  background-color: #111;
}
.footerNav ul li {
  background-color: #111;
}
.footerNav ul li a:hover{
  text-decoration: underline;
}
.footerBottom{
  background-color: #111;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  background-color: #111;
  color: white;
}
.designer{
  background-color: #111;
  opacity: 0.7;
  text-transform: uppercase;
  color: yellow;
  font-weight: 400;
  margin: 0px 5px;
}
/*
--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------
*/
@media (min-width: 1001px) {
  li.dropdown {
    display: none;
  }
}
@media (max-width: 1000px) {
  li.index, li.about-eg, li.prices, li.route, .cta {
    display: none;
  }
  li.dropdown {
    display: inline-block;
  }
  .drop__button {
    width: 40px;
  }
  .dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  }
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {
    position: fixed;
    display: block;
  }
}
@media (max-width: 720px) {

  .dropdown-content {
    display: none;
    position: fixed;
    right: 0em;
    top: 0em;
    background-color: #f9f9f9;
    outline: 1px solid red;
    min-width: 100%;
    min-height: 50em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    
}
  
@media (max-width: 600px) {
.background{
  width: 100%;
  height: 20rem;
}
.logo{
  font-size: 30px;
}
.item-content{
  left: 2em;
  top: 7em;
}
.item-content h1{
  font-size: 30px;
}
.item-content h2{
  font-size: 30px;
}
.item-content p{
  font-size: 15px;
}
.introduction-btn{
  top: 18em;
  left: 2em;
}

.container-anc{
  padding-left: 4em;
}
.container-anc > img{
  left: 1em;
  height: 12em;
  width: 8em;
}
.container-anc > img:hover{
  z-index: 1;
  height: 24em;
  width: 16em;
}
.anc-content{
  font-size: 12px;
  left: 0.5em;
  top: 25em;
}
.anc-content h1{
  left: 4em;
  position: relative;
}
.anc-content p{
  max-width: 100%;
}
.pop-egy{
  top: 40em;
  left: 1em;
  font-size: 24px;
}
.container-items{
  top: 25em;
  right: 3.5em;
}
.footerNav ul li a{
  font-size: 0.75em;
  margin: 0.6em;
}
footer{
  bottom: -30rem;
}
}