@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); font-display: swap; } 

/*#region Body*/

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*#endregion */

/*#region Text*/

.background {
  width: 100%;
  height: 80em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 61em;

  .item-content{
    position: absolute;
    top: 15em;
    left: 12em;
  
    h1{
      color: white;
      font-size: 150px;
    }
  
    h2{
      color: white;
      font-size: 150px;
    }
  
    p{
      color: white;
      padding-left: 5px;
      padding-top: 30px;
      font-size: 30px;
    }
  }
  .introduction-btn{
    position: absolute;
    top: 50em;
    left: 14em;

    width: 300px;
    padding: 14px;
    color: white;
    background-color: rgb(114, 38, 13);
    border-color: white;
    border-radius: 25px;
    font-size: 14px;
    transition: all 0.3s ease 0s;
  }
  .introduction-btn:hover{
    cursor: pointer;
    border-radius: 12px;
  }
}

.container-anc{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  height: 40em;

  position: relative;

  img{
    position: relative;
    height: 30em;
    left: 5em;
    top: 5em;
    width: 25%;
    box-shadow: -20px -24px rgb(255, 203, 164);
    transition: all 0.3s ease 0s;
  }
  img:hover{
    z-index: 1;
    transform: scale(1.2);
  }

  .txt-anc {
    position: relative;
    top: 8em;
    right: 10em;
    width: 40%;
  }

  .anc-content{
    font-size: 20px;
  
    p{
      padding-top: 1em;
      max-width: 100%;
    }
  }
}

.index_tour_container{
  position: relative;
  width: 100%;
  height: 75em;
  margin: 0 auto;
  background-color: #f4f1ee;

  .pop-egy{
    position: relative;
    top: 2em;
    width: 30%;
    left: 21em;
    font-size: 32px;
    font-weight: 800;
  }

  .container-items {
    display: grid;
    position: relative;
    width: 80%;
    /* * REMEMBER: MARGIN IS FOR HORIZONTAL! */
    margin: 0 auto;
    top: 8em;
  
    grid-gap: 1em 1em;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* ! Justify-items is for rows and align-items is for columns! */
    justify-items: center;
    align-items: center;
  
    /* ! justify-self is for configuring singular items! */
    .item {
      background-color: #f0f0f0;
      width: 20em;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
      img {
        border-radius: 8px;
        transition: 0.35s;
      }
  
      img:hover {
        transform: scale(1.2);
      }
    }
    .grid-content {
      padding: 16px;
  
      h1{
        color: #666;
        font-size: 16px;
        margin-bottom: 8px;
      }
  
      p{
        color: #666;
        font-size: 15px;
        line-height: 1.3;
      }
  
      .item-btn {
        display: inline-block;
        padding: 4px 8px;
        background-color: #333;
        border-radius: 4px;
        margin-top: 16px;
        color: #fff;
        transition: all 0.3s ease 0s;
      }
  
      .item-btn:hover{
        background-color: rgb(7, 127, 167);
        cursor: pointer;
      }
    }
  }
}

/*#endregion */

/*#region Media Query*/

@media only screen and (max-width: 1000px) {
  li.index, li.about-eg, li.prices, li.route, .cta {
    display: none;
  }


  
}


@media only screen and (max-width: 600px) {
  .background {
    min-height: 25em;
  }
  
  .container{
    height: auto;

    .item-content{
      left: 2em;
      top: 10em;
  
      h1{
        font-size: 40px;
      }
  
      h2{
        font-size: 40px;
      }
  
      p{
        font-size: 15px;
        width: 70%;
        padding-top: 15px;
      }
    }
    .introduction-btn{
      top: 23em;
      left: 2em;
    }
  }

  .container-anc{
    height: 65em;
    left: 0em;

    img{
      position: relative;
      left: 6em;
      top: 2em;
      height: 13em;
      width: 10em;
    }

    img:hover{
      height: 13em;
      width: 10em;
      z-index: 1;
      transform: scale(1.2);
    }

    .txt-anc {
      top: 3em;
      left: 2em;
      width: 80%;
    }

    .anc-content{
      width: 100%;
  
      h1{
        left: 1em;
        position: relative;
      }
  
      p{
        position: relative;
        left: 0;
        max-width: 100%;
      }
    }
  }

  .index_tour_container{
    position: relative;
    height: 165em;
    top: 0em;

    .pop-egy{
      left: 1.5em;
      top: 2em;
      width: 80%;
      font-size: 28px;
    }
    .container-items{
      top: 5em;
      right: 2em;

      .item {
        width: 14em;

        img {
          width: 100%;
          border-radius: 8px;
          transition: 0.35s;
        }
      }

      .grid-content {
        padding: 12px;
    
        h1{
          color: #666;
          font-size: 20px;
          margin-bottom: 8px;
        }
    
        p{
          color: #666;
          font-size: 15px;
          line-height: 1.3;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {

  .container-anc{
    height: 75em;
    
    .txt-anc {
      top: 3em;
      left: 2em;
      width: 80%;
    }
    .anc-content{
      width: 100%;
  
      h1{
        left: 0em;
        position: relative;
      }
  
      p{
        position: relative;
        left: 0;
        max-width: 100%;
      }
    }
  }

  .background {
    min-height: 25em;
  }
  
  .container{
    height: auto;

    .item-content{
      left: 2em;
      top: 10em;
  
      h1{
        font-size: 40px;
      }
  
      h2{
        font-size: 40px;
      }
  
      p{
        font-size: 15px;
        width: 70%;
        padding-top: 15px;
      }
    }
    .introduction-btn{
      width: 50%;
      top: 23em;
      left: 2em;
    }
  }

  .container-anc{
    height: 80em;
    left: 0;

    img{
      position: relative;
      left: 8em;
      top: 2em;
      height: 13em;
      width: 10em;
    }

    img:hover{
      height: 13em;
      width: 10em;
      z-index: 1;
      transform: scale(1.2);
    }

    .txt-anc {
      top: 5em;
      left: 1em;
      width: 80%;
    }

    .anc-content{
      width: 100%;
  
      h1{
        left: 1.5em;
        position: relative;
      }
  
      p{
        position: relative;
        left: 1.5em;
        max-width: 100%;
      }
    }
  }

  .index_tour_container{
    position: relative;
    height: 170em;
    top: 0em;

    .pop-egy{
      left: 1.5em;
      top: 2em;
      width: 80%;
      font-size: 28px;
    }
    .container-items{
      right: 3em;

      .item {
        width: 14em;

        img {
          width: 100%;
          border-radius: 8px;
          transition: 0.35s;
        }
      }

      .grid-content {
        padding: 12px;
    
        h1{
          color: #666;
          font-size: 20px;
          margin-bottom: 8px;
        }
    
        p{
          color: #666;
          font-size: 15px;
          line-height: 1.3;
        }
      }
    }
  }
}

/*#endregion */