@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); font-display: swap; } 

/*#region Body*/

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*#endregion */


.container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 60em;
  width: 100%;

  .background {
    width: 100%;
    height: 60em;
  }
  

  .form{
    display: flex;
    position: relative;
    left: 10%;
    bottom: 50em;
    
    border-radius: 2em;
    background-color: #CFB095;

    width: 25em;
    height: 45em;

    .form_container{
      position: relative;
      top: 8em;
      width: 100%;
      height: 80%;

      h1{
        position: relative;
        bottom: 3em;
        left: 35%;
        width: 30%;
      }

      .uname_div{
        position: relative;
        left: 2em;
        bottom: 2em;
        width: 80%;
        height: 4em;
        
        label{
          position: relative;
          bottom: 0.4em;
          left: 10em;

          

          font-size: 14px;
        }

        input{
          position: relative;
          left: 6%;
          padding: 0.8em;
          
          background-color: transparent;
          border-color: white;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          width: 90%;
        }

        input::placeholder{
          text-align: center;
        }
        
        input:focus{
          outline: none;
        }
        
      }

      .upass_div{
        position: relative;
        left: 2em;
        bottom: 1em;
        width: 80%;
        height: 4em;
        
        label{
          position: relative;
          bottom: 0.4em;
          left: 9.5em;
          

          font-size: 14px;
        }

        input{
          position: relative;
          left: 6%;
          padding: 0.8em;
          
          background-color: transparent;
          border-color: smoke;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          width: 90%;
        }

        input::placeholder{
          text-align: center;
        }

        input:focus{
          outline: none;
        }
      }
      
      .log_div{
        position: relative;
        bottom: 1.5em;
        height: 11em;

        .link{
          position: relative;
          left: 55%;
  
          color: white;
          font-size: 14px;
        }
        .link:hover{
          text-decoration: underline;
        }

        .log-in{
          position: relative;
          top: 0.5em;
          left: 2em;

          width: 80%;
          padding: 1em;
          border-radius: 5em;
          background-color: rgb(114, 38, 13);

          transition: all 0.3s ease 0s;
        }

        .log-in:hover{
          border-radius: 1em;
          cursor: pointer;
        }

        .check_container{
          position: relative;
          left: 13%;
          height: 5em;
          width: 72%;

          .remember_label{
            position: relative;
            left: 0.15em;
          }
          p{

            a{
              font-size: 14px;
            }
            a:hover{
              text-decoration: underline;
            }
          }
        }
  
      }

      .sign_div{
        position: relative;
        top: 5em;
        height: 5em;

        p{
          position: relative;
          left: 30%;
        }

        .link{
          position: relative;
          left: 41%;
          color:rgb(114, 38, 13);
        }
      }

    }
  }
}

@media only screen and (max-width: 400px) {
  .container{

    .form{
      left: 0;
      bottom: 50em;

      .form_container{
        position: relative;
        top: 8em;
        width: 100%;
        height: 80%;
  
        h1{
          bottom: 10em;
        }
      }
    }
  }
}