@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); font-display: swap; } 
/*
--------------------------------------------------------------
# General
--------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*
--------------------------------------------------------------
# Text
--------------------------------------------------------------
*/

.info-container{
    position: relative;
    width: 110em;
    height: 50em;
    left: 8em;
    top: 7em;
}
.info-container img{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 4em;
}
.info-text{
    position: absolute;
    left: 55em;
    width: 55em;
    height: 50em;
}
.info-text h1{
    position: absolute;
    font-size: 80px;
    max-width: 40%;
    left: 0.2em;
    top: 0.6em;
}
.info-text p{
    position: absolute;
    font-family: Playfair;
    font-weight: 600;
    font-size: 20px;
    width: 70%;
    left: 1em;
    top: 15.5em;
}
.info-btn{
    position: absolute;
    left: 1em;
    top: 18.8em;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 200px;
}
.info-btn-t{
    position: absolute;
    left: 9em;
    top: 18.8em;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 200px;

}

.map{
    position: relative;
    top: 40em;
    border: 1px solid black;
}

/*
--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------
*/
@media (max-width: 600px) {
.info-container{
    position: relative;
    width: 20em;
    height: 35em;
    left: 1em;
    top: 7em;
}
.info-container img{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 2em;
}
.info-text{
    position: absolute;
    left: 0em;
    top: 16em;
    width: 20em;
    height: 30em;
}
.info-text h1{
    position: absolute;
    font-size: 25px;
    max-width: 100%;
    left: 0.8em;
    top: 0.5em;
}
.info-text p{
    position: absolute;
    font-family: Playfair;
    font-weight: 600;
    font-size: 14px;
    width: 85%;
    left: 1.5em;
    top: 4em;
}
.info-btn{
    position: absolute;
    left: 0.7em;
    top: 23em;
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
}
.info-btn-t{
    position: absolute;
    left: 12em;
    top: 23em;
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 150px;

}
}