@font-face { font-family: Playfair; src: url('../font/PlayfairDisplay.ttf'); font-display: swap; } 
/*
--------------------------------------------------------------
# General
--------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
  font-family: Playfair;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*
--------------------------------------------------------------
# Text
--------------------------------------------------------------
*/

.info-container{
    position: relative;
    width: auto;
    height: 50em;
    left: 0em;
    top: 7em;

    img{
        width: 50%;
        height: 70%;
        position: relative;
        top: 4em;
        left: 4em;
    }

    .info-text{
        position: relative;
        left: 65em;
        top: -35em;
        width: 50em;
        height: 38em;

        h1{
            position: relative;
            font-size: 80px;
            max-width: 40%;
            left: 0.2em;
            top: 0.6em;
        }

        p{
            position: relative;
            font-family: Playfair;
            font-weight: 600;
            font-size: 20px;
            width: 70%;
            left: 1em;
            top: 3em;
        }

        .route_btn{
        position: relative;
        left: 1em;
        top: 3em;
    
        color: white;
        background-color: black;
        cursor: pointer;
    
        font-size: 30px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        width: 200px;
        }
        .book_btn{
        position: relative;
        left: 2em;
        top: 3em;

        color: white;
        background-color: black;
        cursor: pointer;

        font-size: 30px;
        padding: 10.5px;
        border-radius: 20px;
        text-align: center;
        width: 200px;
        }
    }
}

.map_container{
    position: relative;
    top: 8em;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 32em;

    background-color: #ffe2c8;
    .map{
        position: relative;
        left: 11em;
    
        height: 40em;
        width: 40em;
    }
}

/*
--------------------------------------------------------------
# Keyframes
--------------------------------------------------------------
*/

.loader_effect {
    position: fixed;
    display: none;
    top: 0em;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: wait;

    background-color: #1d1b1b48;
}

.loader {
    top: 25em;
    left: 58em;
    position: fixed;
    display: none;

    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    outline: 1px solid red;

    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 2;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*
--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------
*/
@media (max-width: 600px) {
.info-container{
    position: relative;
    width: 20em;
    height: 35em;
    left: 1em;
    top: 7em;

    img{
        width: 100%;
        height: 40%;
        position: absolute;
        top: 2em;
    }
    .info-text{
        position: absolute;
        left: 0em;
        top: 16em;
        width: 20em;
        height: 30em;

        h1{
            position: absolute;
            font-size: 25px;
            max-width: 100%;
            left: 0.8em;
            top: 0.5em;
        }

        p{
            position: absolute;
            font-family: Playfair;
            font-weight: 600;
            font-size: 14px;
            width: 85%;
            left: 1.5em;
            top: 4em;
        }
    }
    .info-btn{
        position: absolute;
        left: 0.7em;
        top: 23em;
        color: white;
        background-color: black;
        font-size: 14px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        width: 150px;
    }
    .info-btn-t{
        position: absolute;
        left: 12em;
        top: 23em;
        color: white;
        background-color: black;
        font-size: 14px;
        padding: 10px;
        border-radius: 20px;
        text-align: center;
        width: 150px;
    
    }
}
}