@font-face { font-family: Playfair; src: url('/font/PlayfairDisplay.ttf'); font-display: swap; } 
/*
--------------------------------------------------------------
# General
--------------------------------------------------------------
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Playfair;
}

li, a, button {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
/*
--------------------------------------------------------------
# Text
--------------------------------------------------------------
*/

.info-container{
    position: relative;
    height: 55em;
    left: 0em;
    top: 7em;

    img{
        width: 50%;
        height: 70%;
        position: relative;
        top: 4em;
        left: 4em;
    }

    .info-text {
        position: relative;
        left: 55%;
        bottom: 36em;
        width: 50em;
        height: 38em;

        h1 {
            position: relative;
            font-size: 80px;
            max-width: 40%;
            left: 0.2em;
            top: 0.6em;
        }

        p {
            position: relative;
            font-weight: 600;
            font-size: 20px;
            width: 70%;
            left: 1em;
            top: 3em;
        }

        .route_btn {
            position: relative;
            left: 1em;
            top: 3em;
        
            color: white;
            background-color: black;
            cursor: pointer;
        
            font-size: 30px;
            padding: 10px;
            border-radius: 20px;
            text-align: center;
            width: 200px;
        }

        .bookmark_btn {
            position: relative;
            left: 6%;
            top: 16.5%;
            background-color: transparent;
            border: 0;
        }

        i{
            font-size: 52px;

            color: black;
        }
    }
}

.map_container{
    position: relative;
    top: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 32em;

    background-color: #ffe2c8;
    .map{
        position: relative;
        left: 11em;
        top: -2em;
    
        height: 40em;
        width: 40em;
    }

    .map_info{
        position: relative;
        width: 23em;
        top: 29.5em;
        left: 9em;

        p{
            font-size: 16px;
            color: black;
        }
    }
}

/*
--------------------------------------------------------------
# Keyframes
--------------------------------------------------------------
*/

.loader_effect {
    position: fixed;
    display: none;
    top: 0em;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: wait;

    background-color: #1d1b1b48;

    .loader {
        top: 25em;
        left: 58em;
        position: fixed;
        display: none;
    
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
    
        border-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 2;
        animation: spin 2s linear infinite;
    }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*
--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------
*/
@media (max-width: 600px) {
.loader_effect {
    width: 100%;
    height: 100%;
    .loader {
        display: none;
        top: 20%;
        left: 20%;
    
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
    
        border-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 2;
        animation: spin 2s linear infinite;
    }
}


.info-container{
    position: relative;
    width: 100%;
    height: 40em;
    top: 7em;

    img{
        width: auto;
        height: 30%;
        position: relative;
        left: 2.5em;
        top: 1em;
    }
    .info-text{
        position: relative;
        left: 0em;
        top: 0em;
        width: 100%;

            h1{
                position: relative;
                font-size: 25px;
                max-width: 50%;
                left: 4em;
                top: 1em;
            }

            p{
                position: relative;
                font-weight: 600;
                font-size: 14px;
                width: 85%;
                left: 3em;
                top: 3em;
            }

            .route_btn{
                position: relative;
                left: 2em;
                top: 3em;
                font-size: 22px;
                width: 150px;
            }
            .book_btn{
                position: relative;
                left: 3em;
                top: 3em;
                font-size: 22px;
                width: 150px;
            }
        }
}

    .map_container{
        height: 60em;
        .map{
            left: 0em;
            width: 100%;
            height: 35em;
        }

        .map_info{
            top: 26.5em;
            left: 0.5em;
        }
    }
}

@media only screen and (max-width: 400px) {

    .loader_effect {
        display: none;
        width: 100%;
        height: 100%;
        .loader {
            display: none;
            top: 45%;
            left: 40%;
        
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
        
            border-radius: 50%;
            width: 100px;
            height: 100px;
            z-index: 2;
            animation: spin 2s linear infinite;
        }
    }

    .info-container{
        position: relative;
        width: 100%;
        height: 40em;
        top: 7em;

        img{
            width: auto;
            height: 30%;
            position: relative;
            left: 1.8em;
            top: 1em;
        }
        .info-text{
            position: relative;
            left: 0em;
            top: 0em;
            width: 100%;

            h1{
                position: relative;
                font-size: 25px;
                max-width: 60%;
                left: 4em;
                top: 1em;
            }

            p{
                position: relative;
                font-weight: 600;
                font-size: 14px;
                width: 85%;
                left: 3em;
                top: 3em;
            }

            .route_btn{
                position: relative;
                left: 2em;
                top: 3em;
                font-size: 22px;
                width: 150px;
            }
            .bookmark_btn{
                left: 8%;
                top: 18%;
            }   
        }   
    }
}